/* RESET */
* {
  box-sizing: border-box;
}
/* VARIABLES */
:root {
  --titulo: 1.5rem;
}

/* CONTENIDO(background-image) MOVIL "MOBILE-FIRST" made in spain */
header {
}

/* HEADER */
.header__banner {
  /* Es importante para que la imagen sale en la página */
  display: block;
  /* width: 100%; */
  /* background-color: red; */
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* Móvil */
  /* Retina Display 1 */
  /* background-image: url(../img/BannerMovil.webp); */

  /* ******************************** */
  /* Retina Display */
  /* Móvil */
  /* @media only screen and (min-width: 320px ) and (max-width: 500px) and (orientacion : portrait) and (-webkit-min-device-pixel-ratio : 1) 
     and (-moz-min-device-pixel-ratio: 1) {
        background-image: url(../img/bannerEscritorio.webp);
    } */

  /* @media only screen and (min-width: 320px ) and (max-width: 500px) and (orientacion : portrait) and (-webkit-min-device-pixel-ratio : 2){
        background-image: url(../img/smartphone/bannerMovil@2x.webp);
    }
    @media only screen and (min-width: 320px ) and (max-width: 500px) and (orientacion : portrait) and (-webkit-min-device-pixel-ratio : 3){
        background-image: url(../img/smartphone/bannerMovil@3x.webp);
    }
     */
  /* Escritorio */
  /* @media only screen and (min-width: 1000px ) and (-webkit-min-device-pixel-ratio: 1) {
        background-image: url(../img/bannerEscritorio.webp);
        height: 400px;
    }
    @media only screen and (min-width: 501px ) and (-webkit-max-device-pixel-ratio: 2) {
        background-image: url(../img/desktop/bannerEscritorio@2x.webp);
        height: 400px;
    }
    
} */
  @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
    @media (-webkit-min-device-pixel-ratio: 1) /* and (-moz-min-device-pixel-ratio: 1) */ {
      background-image: url(../img/bannerMovil.webp);
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../img/smartphone/bannerMovil@2x.webp);
    }

    @media (-webkit-min-device-pixel-ratio: 3) {
      background-image: url(../img/smartphone/bannerMovil@3x.webp);
    }
  }

  /* Escritorio */
  @media only screen and (min-width: 501px) {
    /* Altura cambia */
    height: 400px; /* Altura común para ambos casos */

    @media (-webkit-min-device-pixel-ratio: 1) {
      /* and (-moz-min-device-pixel-ratio: 1) */
      background-image: url(../img/bannerEscritorio.webp);
    }
    @media (-webkit-max-device-pixel-ratio: 2) {
      background-image: url(../img/desktop/bannerEscritorio@2x.webp);
    }
  }
}

/* *********************************************** */
/* Código de profesor Toni */

/* Retina Display */
/* Móvil */

/* CONTENIDO (img) MOVIL */
/* MAIN */
.main__imagenes {
  display: grid;
  /* grid-template-columns: repeat(2,100px); */

  /* grid-template-columns: repeat(2,1fr); */

  /* Gestiona las columnas automáticamente */
  /* autofit,necesita a compañar con un parametro,autofill(autorelleno) */
  /*en este caso column es fila  */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(400vh,1fr)); */
  /* grid-template-rows: repeat(2, 300px); */

  & img {
    width: 100%;

    /* Muy importante para controlar la imagen,y la imagen tiene width y height simultaneamente */

    /* Para que img(rebelde por no oberecer la norma/caja) sea como background utilizamos "object" */
    object-fit: cover;
    object-position: center;
    height: 100%;

    /* grid-area: ; */
  }
}
/* MAIN TEXTO */
.main__textoTitulo {
  background-color: #f6f6f6;
  padding: 8vw;
  @media only screen and (min-width:1000px) {
    padding: 4vw;
  }

  & .main__titulo {
    text-align: center;
    font-size: var(--titulo);
  }

  & .main__parrafo {
    text-align: justify;
  }

  /* h3{
        font-size: 24px;
        text-align: center;
        align-items: center;
    }

    p{
        text-align: center;
        align-items: center;
        padding: 0 42px;
    } */
}
